@model SalesBudget.Models.ViewModels.UnToKgViewModel

@{
    var title = "Create UnToKg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.UnToKg.UnToKgId != 0)
        {
            <input type="hidden" asp-for="UnToKg.UnToKgId" id="hiddenBudgetId" />
            title = "Edit UnToKg";
        }

        <div class="col-12">
            <br />
            <h2 class="text-primary">@title</h2>
            <br />
            <br />
        </div>

        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UnToKg.ConversionRate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="UnToKg.ConversionRate" class="form-control" id="rate" />
                    <span asp-validation-for="UnToKg.ConversionRate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />



        <div class="col-8">
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.UnToKg.UnToKgId != 0)
                    {
                        //Edit button and back to list
                        <partial name="_EditAndBackToListButton" model="Model.UnToKg.UnToKgId" />
                    }
                    else
                    {
                        //Create button and back to list
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
        <br />
        <br />



    </div>
</form>

<br />
<br />


@section Scripts{

    <script>
        $(document).ready(function () {
            if (document.getElementById('rate').value == "0") {
                document.getElementById('rate').value = '';
            }
        });
    </script>
}



