@model SalesBudget.Models.ViewModels.ProductGroupViewModel

@{
    var title = "Create ProductGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.ProductGroup.ProductGroupId != 0)
        {
            <input type="hidden" asp-for="ProductGroup.ProductGroupId" id="hiddenBudgetId" />
            title = "Edit PharmaForm";
        }

        <div class="col-12">
            <br />
            <h2 class="text-primary">@title</h2>
            <br />
            <br />
        </div>

        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductGroup.ProductGroupCode"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductGroup.ProductGroupCode" class="form-control" id="code"/>
                    <span asp-validation-for="ProductGroup.ProductGroupCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductGroup.ProductGroupAcronym"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductGroup.ProductGroupAcronym" class="form-control" />
                    <span asp-validation-for="ProductGroup.ProductGroupAcronym" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductGroup.ProductGroupName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductGroup.ProductGroupName" class="form-control" />
                    <span asp-validation-for="ProductGroup.ProductGroupName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.ProductGroup.ProductGroupId != 0)
                    {
                        //Edit button and back to list
                        <partial name="_EditAndBackToListButton" model="Model.ProductGroup.ProductGroupId" />
                    }
                    else
                    {
                        //Create button and back to list
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
        <br />
        <br />



    </div>
</form>

<br />
<br />


@section Scripts{

    <script>
        $(document).ready(function () {
            if (document.getElementById('code').value == "0") {
                document.getElementById('code').value = '';
            }
        });
    </script>
}



