<div class="row">
    <div class="col-6">
        <br />
        <br />
        <h2 class="text-primary">Insert in other tables</h2>
    </div>

    <div class="row">
        <div class="col">
            <a class="btn btn-danger float-end" onClick="window.close()"><i class="fas fa-times"></i> Close window</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="Company" asp-action="Index" class="btn btn-primary col-12">Companies List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn btn-primary col-12">Customer List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="ItemMaster" asp-action="Index" class="btn btn-primary col-12">ItemMaster List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="LedgerType" asp-action="Index" class="btn btn-primary col-12">LedgerType List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="PharmaForm" asp-action="Index" class="btn btn-primary col-12">PharmaForm List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="ProductGroup" asp-action="Index" class="btn btn-primary col-12">ProductGroup List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="UnToBulk" asp-action="Index" class="btn btn-primary col-12">UnToBulk List</a>
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col">
            <a asp-area="Admin" asp-controller="UnToKg" asp-action="Index" class="btn btn-primary col-12">UnToKg List</a>
        </div>
    </div>
</div>
