@model SalesBudget.Models.ViewModels.PharmaFormViewModel

@{
    var title = "Create PharmaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.PharmaForm.PharmaFormId != 0)
        {
            <input type="hidden" asp-for="PharmaForm.PharmaFormId" id="hiddenBudgetId" />
            title = "Edit PharmaForm";
        }

        <div class="col-12">
            <br />
            <h2 class="text-primary">@title</h2>
            <br />
            <br />
        </div>

        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PharmaForm.PharmaFormAcronym"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PharmaForm.PharmaFormAcronym" class="form-control" />
                    <span asp-validation-for="PharmaForm.PharmaFormAcronym" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PharmaForm.PharmaFormName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PharmaForm.PharmaFormName" class="form-control" />
                    <span asp-validation-for="PharmaForm.PharmaFormName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.PharmaForm.PharmaFormId != 0)
                    {
                        //Edit button and back to list
                        <partial name="_EditAndBackToListButton" model="Model.PharmaForm.PharmaFormId" />
                    }
                    else
                    {
                        //Create button and back to list
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
        <br />
        <br />



    </div>
</form>

<br />
<br />






