@model SalesBudget.Models.ViewModels.CompanyViewModel

@{
    var title = "Create Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert">

    <div class="row px-2 mx-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Company.CompanyId != 0)
        {
            <input type="hidden" asp-for="Company.CompanyId" id="hiddenBudgetId" />
            title = "Edit Company";
        }

        <div class="col-12">
            <br />
            <h2 class="text-primary">@title</h2>
            <br />
            <br />
        </div>

        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.CompanyName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.CompanyName" class="form-control" />
                    <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.Acronym"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.Acronym" class="form-control" />
                    <span asp-validation-for="Company.Acronym" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.CurrencyBase"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.CurrencyBase" class="form-control" />
                    <span asp-validation-for="Company.CurrencyBase" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.CurrenyGroup"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Company.CurrenyGroup" class="form-control" />
                    <span asp-validation-for="Company.CurrenyGroup" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Company.Operative"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(modelItem => modelItem.Company.Operative,
                        new[]
                            {
                                new SelectListItem { Text = "1", Value = "true" },
                                new SelectListItem { Text = "0", Value = "false" },
                            },

                         new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <br />




        <div class="col-8">
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Company.CompanyId != 0)
                    {
                        //Edit button and back to list
                        <partial name="_EditAndBackToListButton" model="Model.Company.CompanyId" />
                    }
                    else
                    {
                        //Create button and back to list
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
        <br />
        <br />



    </div>
</form>

<br />
<br />







