@model SalesBudget.Models.ViewModels.UnToKgViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <br />
        <h2 class="text-primary">UnToKg List</h2>
    </div>

    <div class="row d-inline-flex">
        <div class="col">
            <a asp-action="Upsert" class="btn btn-primary float-end"><i class="fas fa-plus"></i> &nbsp; Create New UnToKg</a>
        </div>
        <div class="col">
            <a class="btn btn-success float-end" onClick="document.location.reload(true)"><i class="fas fa-sync-alt"></i> &nbsp; Refresh page</a>
        </div>
        <div class="col">
            <a asp-controller="OtherTables" asp-action="Index" class="btn btn-warning float-end"><i class="fas fa-backspace"></i> Back to List</a>
        </div>
    </div>


    <br />
    <table class="table table-striped table-bordered table-hover" id="table">
        <thead>
            <tr>
                <th>
                    UnToBulkId
                </th>
                <th>
                    ConversionRate
                </th>

            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.RecordsList)
            {
                <tr>

                    <td id="data">
                        @Html.DisplayFor(modelItem => item.UnToKgId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConversionRate)
                    </td>


                    <td>
                        <a asp-action="Upsert" asp-route-id="@item.UnToKgId" ) class="btn btn-primary" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        @*<a href="#" onclick="ConfirmDelete(@item.UnToKgId)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>*@
                    </td>
                </tr>
            }

        </tbody>

    </table>



    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete UnToKg</h3>
                </div>
                <div class="modal-body">
                    <h4>Are you sure you want to Remove this UnToKg?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-success" onclick="DeleteUnToKg()">Confirm</a>
                </div>
            </div>
        </div>
    </div>


    <input type="hidden" asp-for="UnToKg.UnToKgId" id="hiddenBudgetId" />
    <br />
    <br />


</div>


@section Scripts
{
    <script>

        var ConfirmDelete = function (UnToKgId) {

            $("#hiddenBudgetId").val(UnToKgId);
            $("#myModal").modal('show');

        }

        var DeleteUnToKg = function () {

            var bdgId = $("#hiddenBudgetId").val();

            $.ajax
                ({
                    type: "POST",
                    url: "/Admin/unToKg/Delete/",
                    data: { Id: bdgId },
                    success: function (result) {
                        $("#myModal").modal("hide");
                        $("#row_" + bdgId).remove();
                        window.location.reload();
                    }
                })
        }
    </script>
}