@model int

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model"><i class="fas fa-save"></i> Save Edit</button>
    </div>
    @*<div class="col">
            <a asp-action="Filter" class="btn btn-success form-control">Back to List</a>
        </div>*@
        <div class="col">
            <a class="btn btn-danger" onClick="window.close()"><i class="fas fa-times"></i> Close without saving</a>
        </div>
</div>
